.layout {
  min-height: 100vh;
  background: #171b45;
}

.main {
  position: fixed;
  top: var(--header-height);
  left: var(--sidebar-width);
  right: var(--right-panel-width);
  bottom: var(--player-height);
  padding: 16px;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
}

.mainExpanded {
  right: 0;
}